<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>

    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>	
	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/matrix.js"></script>
	<script src="/javascripts/main.js"></script>
</head>
<body>
	<nav>
		<div class="container">
			
		</div>
	</nav>
	<div class="container">
	{{{ body }}}
	</div>
	<footer>
		<div class="container text-center">
			<p>Mario R. Castellanos A.</p>
		</div>
	</footer>
</body>
</html>